.hack-tips
    width: 100%
    // position   : absolute;
    // width      : 480px;
    text-align : center;
    // margin-left: -240px;
    // z-index    : 9999;
    font-size  : 12px;
    line-height: 22px;
    color      : #333;
    // top        : auto;
    // bottom     : 40px;
    // left       : 50%;
    padding: 30px 0
    background-color: #FFF
    overflow: hidden

    h1
        margin-bottom: 20px
    p
        font-size: 16px

    span
        color: red;

    .t2
        border       : 1px #CCC solid;
        margin       : 20px 30px;
        padding      : 10px;
        border-radius: 12px;
    