// 小于 736 通用
@media (max-width: 736px)
    body
        background: #cccccc
            
// iPhone 5
@media (max-width: 374px)
    body
        background: gray

// iPhone 6
@media (min-width: 375px) and (max-width: 413px)
    body
        background: orange
        
// iPhone 6P
@media (min-width: 414px) and (max-width: 599px)
    body
        background: pink
